version: 2.1
executors:
  node18:
    docker:
      - image: cimg/node:18.17

orbs:
  codecov: codecov/codecov@3.2.5

commands:
  setup:
    steps:
      - checkout
      - run:
          name: Installing Dependencies
          command: npm install
      - run:
          name: prepare test git user
          command: git config --global user.email "circleci@example.com" && git config --global user.name "CircleCi Build"

jobs:
  build:
    executor: node18
    parallelism: 15

    steps:
      - setup
      - run:
          name: Split package list
          command: circleci tests glob "packages/*" | circleci tests split > /tmp/tests-to-run
      - run:
          name: Lint
          command: cat /tmp/tests-to-run | xargs -I % npm run lint -w %
      - run:
          name: Running tests and getting code coverage
          command: cat /tmp/tests-to-run | xargs -I % npm run test -w %
      - codecov/upload
      - run:
          name: Copy test results
          command: |
            mkdir junit
            cat /tmp/tests-to-run | xargs -I % cp %/junit/test-results.xml junit/test-results-$CIRCLE_NODE_INDEX.xml
      - store_test_results:
          path: junit

workflows:
  version: 2
  build:
    jobs:
      - build
