version: 2.1
executors:
  node14:
    docker:
    - image: cimg/node:14.19
    environment:
      NPM_CONFIG_PREFIX: ~/.npm-global

commands:
  setup:
    steps:
    - checkout
    - restore_cache:
        keys:
        - v1-dependencies-{{ arch }}-{{ checksum "package-lock.json" }}
    - run:
        name: install latest npm
        command: sudo npm -g install npm
    - run:
        name: Installing Dependencies
        command: npm install
    - run:
        name: Bootstrap Lerna
        command: npm run bootstrap
    - save_cache:
        paths:
        - node_modules
        key: v1-dependencies-{{ arch }}-{{ checksum "package-lock.json" }}
    - run:
        name: prepare test git user
        command: git config --global user.email "circleci@example.com" && git config --global user.name "CircleCi Build"

jobs:
  build:
    executor: node14
    parallelism: 15

    steps:
    - setup
    - run: mkdir junit
    - run:
        name: Lint
        command: npm run lint-ci
    - run:
        name: Getting Code Coverage
        command: npm run test-ci
    - store_test_results:
        path: packages/helix-shared-all/junit
    - store_test_results:
        path: packages/helix-shared-async/junit
    - store_test_results:
        path: packages/helix-shared-body-data/junit
    - store_test_results:
        path: packages/helix-shared-config/junit
    - store_test_results:
        path: packages/helix-shared-dom/junit
    - store_test_results:
        path: packages/helix-shared-git/junit
    - store_test_results:
        path: packages/helix-shared-ims/junit
    - store_test_results:
        path: packages/helix-shared-process-queue/junit
    - store_test_results:
        path: packages/helix-shared-prune/junit
    - store_test_results:
        path: packages/helix-shared-string/junit
    - store_test_results:
        path: packages/helix-shared-utils/junit
    - store_test_results:
        path: packages/helix-shared-wrap/junit
    - store_test_results:
        path: packages/helix-shared-indexer/junit
    - store_test_results:
        path: packages/helix-shared-bounce/junit

workflows:
  version: 2
  build:
    jobs:
    - build
