version: 2.1
executors:
  node12:
    docker:
    - image: circleci/node:12
    environment:
      NPM_CONFIG_PREFIX: ~/.npm-global

orbs:
  helix-smoke-tests: adobe/helix-smoke-tests@0.1.0

commands:
  setup:
    steps:
    - checkout
    - restore_cache:
        keys:
        - v1-dependencies-{{ arch }}-{{ checksum "package-lock.json" }}
    - run:
        name: install latest npm
        command: sudo npm -g install npm
    - run:
        name: Installing Dependencies
        command: npm install
    - run:
        name: Bootstrap Lerna
        command: npm run bootstrap
    - save_cache:
        paths:
        - node_modules
        key: v1-dependencies-{{ arch }}-{{ checksum "package-lock.json" }}
    - run:
        name: prepare test git user
        command: git config --global user.email "circleci@example.com" && git config --global user.name "CircleCi Build"

jobs:
  build:
    executor: node12

    steps:
    - setup
    - run: mkdir junit
    - run:
        name: Lint
        command: npm run lint
    - run:
        name: Getting Code Coverage
        command: npm run test-ci
    - store_test_results:
        path: packages/helix-shared-all/junit
    - store_test_results:
        path: packages/helix-shared-git/junit
    - store_test_results:
        path: packages/helix-shared-utils/junit
    - store_test_results:
        path: packages/helix-shared-wrap/junit

workflows:
  version: 2
  build:
    jobs:
    - build

  smoke:
    jobs:
    - helix-smoke-tests/run:
        remote_repo: adobe/helix-continuous
